# macOS
.DS_Store
__MACOSX/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/

# Derived data
DerivedData/
build/

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Others
*.log
